
**Deployment plan:**
|||
|----------------|----------------------|
| application(s) | {applications} |
| pipeline |  {pipeline}  |
| deployment approach  |  {approach}  |

**Deploy to the following sites:**

{sites}
